[submodule "task_specifications/libraries/core_task_lib"]
	path = task_specifications/libraries/core_task_lib
	url = https://github.com/Robotics-Research-Group-KUL/core_task_lib.git
[submodule "task_specifications/libraries/debug_lib"]
	path = task_specifications/libraries/debug_lib
	url = https://github.com/Robotics-Research-Group-KUL/debug_lib.git
[submodule "task_specifications/libraries/dummy_lib"]
	path = task_specifications/libraries/dummy_lib
	url = https://github.com/Robotics-Research-Group-KUL/dummy_lib.git
[submodule "skill_specifications/libraries/skill_lib_example"]
	path = skill_specifications/libraries/skill_lib_example
	url = https://github.com/Robotics-Research-Group-KUL/skill_lib_example.git
